@charset "utf-8";

/* common */

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

div {
  margin: 0;
}

h2 {
  margin: 0;
  color: #6FC5CB;
  font-size: 64px;
  font-weight: 900;
}

h3 {
  margin: 0;
  font-size: 64px;
}

h4 {
  margin: 5px 0 0;
  font-size: 24px;
}

h5 {
  margin: 0;
  font-size: 19px;
}

p {
  margin: 0;
}

.more_btn {
  margin: 20px 0 0;
  display: flex;
  height: 60px;
  width: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #6FC5CB;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: .7;
}


/* header */

header {
  margin: 0;
  min-height: 900px;
  background: url(img/hero_sp.jpg) no-repeat center;
  background-size:cover;  
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

/* section_main */

.content {
  margin: 0;
}

.main01{
  margin: 0;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  background: url(img/sp_bg01.png) no-repeat center;
  background-size:cover;  
  box-sizing: border-box;
}

.main02{
  margin: 0;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  background: url(img/sp_bg02.png) no-repeat center;
  background-size:cover;  
  box-sizing: border-box;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  width: calc(100% - 60px);
  box-sizing: border-box;
}

.prof_wrapper{
  margin: 0;
}

.skil {
  margin: 30px 0 0;
}

.skil ul {
  margin: 0;
  width: 215px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  text-align: center;
  align-items: center;
  gap: 15px;
}

li.icon {
  display: inline-block;
  background: #B8DFDF;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 900;
  color:#FFF;
  width: 40px;
  height: 40px;
  line-height: 38px;
  box-sizing: border-box;
}

li img {
  vertical-align: middle;
}

.other ul {
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  text-align: center;
  align-items: center;
  gap: 15px;
}

.other li {
  display: inline-block;
  border-radius: 5px;
}

.other img {
  width: 150px;
  height: 181px;
}

.desc {
  color: #333;
  margin: 50px 0 0;
}

.desc p{
  color: #333;
  line-height: 32px;
  letter-spacing: 0.1em;
  margin: 20px 0 0;
}


/* PC screen */

@media (min-width:600px) {

  header {
    margin: 0;
    min-height: 768px;
    background: url(img/hero_pc.jpg) no-repeat center center;
    background-size:cover;  
    box-sizing: border-box;
  }

  .logo {
    margin: 0 0 0 80px;
    display: flex;
    justify-content:left;
    align-items: center;
    height: 768px;
  }


  .main01{
    margin: 0;
    height: 720px;
    display: flex;
    align-items: center;
    background: url(img/pc_bg01.jpg) no-repeat center center;
    background-size:cover;  
    box-sizing: border-box;
  }


  .main02{
    margin: 0;
    padding: 0 80px;
    height: 720px;
    display: flex;
    align-items: center;
    background: url(img/pc_bg02.jpg) no-repeat center center;
    background-size:cover;  
    box-sizing: border-box;
  }

  .wrapper {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    width: calc(100% - 60px);
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 250px;
  }

  .wrapper.wrap{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    width: calc(100% - 60px);
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  .title {
    margin: 0;
    flex: 1;
  }

  .prof_wrapper {
    margin: 0;
    flex: 2;
  }


  .other img {
    width: 190px;
    height: 229px;
  }
  

}
